<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.property.dao.PropertyMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.property.entity.Property" >
    <id column="in_id" property="inId" jdbcType="INTEGER" />
    <result column="in_name" property="inName" jdbcType="VARCHAR" />
    <result column="in_img" property="inImg" jdbcType="VARCHAR" />
    <result column="in_limit" property="inLimit" jdbcType="DECIMAL" />
    <result column="in_start" property="inStart" jdbcType="TIMESTAMP" />
    <result column="in_tax" property="inTax" jdbcType="REAL" />
    <result column="in_earning" property="inEarning" jdbcType="TINYINT" />
    <result column="in_end" property="inEnd" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List" >
    in_id, in_name, in_limit, in_start, in_tax, in_earning, in_end,create_time, update_time,is_valid,in_img
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.dream.city.property.entity.Property" >
    select 
    <include refid="Base_Column_List" />
    from city_invest
    <where>
      1=1
      <if test="inId !=null and inId > 0">
        and in_id = #{inId,jdbcType=INTEGER}
      </if>
      <if test="inName !=null and inName !=''">
        and in_name = #{inName,jdbcType=VARCHAR}
      </if>

    </where>
    limit 1
  </select>

  <select id="getInvestLsit" resultMap="BaseResultMap" parameterType="com.dream.city.property.dto.PropertyReq" >
    select
    <include refid="Base_Column_List" />
    from city_invest
    <where>
      1=1
      <if test="inId !=null">
        and in_id = #{inId,jdbcType=INTEGER}
      </if>
      <if test="inName !=null and inName !=''">
        and in_name like '%${inName}%'
      </if>
      <if test="isValid !=null">
        and is_valid = #{isValid,jdbcType=CHAR}
      </if>
      <if test="inEnd !=null and inEnd !=''">
        and in_end <![CDATA[<]]> #{inEnd,jdbcType=VARCHAR}
      </if>
    </where>

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_invest
    where in_id = #{inId,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="com.dream.city.property.entity.Property" >
    insert into city_invest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="inId != null" >
        in_id,
      </if>
      <if test="inName != null" >
        in_name,
      </if>
      <if test="inLimit != null" >
        in_limit,
      </if>
      <if test="inStart != null" >
        in_start,
      </if>
      <if test="inTax != null" >
        in_tax,
      </if>
      <if test="inEarning != null" >
        in_earning,
      </if>
      <if test="inEnd != null" >
        in_end,
      </if>
      <if test="inImg != null" >
        in_img,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="inId != null" >
        #{inId,jdbcType=INTEGER},
      </if>
      <if test="inName != null" >
        #{inName,jdbcType=VARCHAR},
      </if>
      <if test="inLimit != null" >
        #{inLimit,jdbcType=DECIMAL},
      </if>
      <if test="inStart != null" >
        #{inStart,jdbcType=TIMESTAMP},
      </if>
      <if test="inTax != null" >
        #{inTax,jdbcType=REAL},
      </if>
      <if test="inEarning != null" >
        #{inEarning,jdbcType=TINYINT},
      </if>
      <if test="inEnd != null" >
        #{inEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="inImg != null" >
        #{inImg,jdbcType=VARCHAR},
      </if>
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.property.entity.Property" >
    update city_invest
    <set >
      <if test="inName != null" >
        in_name = #{inName,jdbcType=VARCHAR},
      </if>
      <if test="inLimit != null" >
        in_limit = #{inLimit,jdbcType=DECIMAL},
      </if>
      <if test="inStart != null" >
        in_start = #{inStart,jdbcType=TIMESTAMP},
      </if>
      <if test="inTax != null" >
        in_tax = #{inTax,jdbcType=REAL},
      </if>
      <if test="inEarning != null" >
        in_earning = #{inEarning,jdbcType=TINYINT},
      </if>
      <if test="inEnd != null" >
        in_end = #{inEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="inImg != null" >
        in_img = #{inImg,jdbcType=VARCHAR},
      </if>
      update_time = now(),
    </set>
    where in_id = #{inId,jdbcType=INTEGER}
  </update>


</mapper>