<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.player.dao.PlayerLikesLogMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.player.entity.PlayerLikesLog" >
    <id column="like_id" property="likeId" jdbcType="INTEGER" />
    <result column="like_player_id" property="likePlayerId" jdbcType="VARCHAR" />
    <result column="like_liked_id" property="likeLikedId" jdbcType="VARCHAR" />
    <result column="like_invest_id" property="likeInvestId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    like_id, like_player_id, like_liked_id, like_invest_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from player_likes_log
    where like_id = #{likeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from player_likes_log
    where like_id = #{likeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.city.player.entity.PlayerLikesLog" >
    insert into player_likes_log (like_id, like_player_id, like_liked_id,
      like_invest_id, create_time, update_time
      )
    values (#{likeId,jdbcType=INTEGER}, #{likePlayerId,jdbcType=VARCHAR}, #{likeLikedId,jdbcType=VARCHAR}, 
      #{likeInvestId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.city.player.entity.PlayerLikesLog" >
    insert into player_likes_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        like_id,
      </if>
      <if test="likePlayerId != null" >
        like_player_id,
      </if>
      <if test="likeLikedId != null" >
        like_liked_id,
      </if>
      <if test="likeInvestId != null" >
        like_invest_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        #{likeId,jdbcType=INTEGER},
      </if>
      <if test="likePlayerId != null" >
        #{likePlayerId,jdbcType=VARCHAR},
      </if>
      <if test="likeLikedId != null" >
        #{likeLikedId,jdbcType=VARCHAR},
      </if>
      <if test="likeInvestId != null" >
        #{likeInvestId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.player.entity.PlayerLikesLog" >
    update player_likes_log
    <set >
      <if test="likePlayerId != null" >
        like_player_id = #{likePlayerId,jdbcType=VARCHAR},
      </if>
      <if test="likeLikedId != null" >
        like_liked_id = #{likeLikedId,jdbcType=VARCHAR},
      </if>
      <if test="likeInvestId != null" >
        like_invest_id = #{likeInvestId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.city.player.entity.PlayerLikesLog" >
    update player_likes_log
    set like_player_id = #{likePlayerId,jdbcType=VARCHAR},
      like_liked_id = #{likeLikedId,jdbcType=VARCHAR},
      like_invest_id = #{likeInvestId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>

  <select id="playerLikesCountToday" resultType="INTEGER" parameterType="com.dream.city.player.entity.PlayerLikesLog" >
    SELECT IFNULL(COUNT(like_invest_id),0) FROM likes_log
    WHERE date_format(create_time,'%Y-%m-%d') = curdate()
    and like_player_id = #{likedPlayerId,jdbcType=VARCHAR}
    and like_liked_id = #{likeLikedId,jdbcType=INTEGER}
  </select>

  <select id="investLikesCountToday" resultType="INTEGER" parameterType="com.dream.city.player.entity.PlayerLikesLog" >
    SELECT IFNULL(COUNT(like_invest_id),0) FROM likes_log
    WHERE date_format(create_time,'%Y-%m-%d') = curdate()
    and like_liked_id = #{likeLikedId,jdbcType=VARCHAR}
    and like_player_id = #{likePlayerId,jdbcType=VARCHAR}
    and like_invest_id = #{likeInvestId,jdbcType=INTEGER}
  </select>


</mapper>