<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.trade.dao.PlayerTradeMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.trade.entity.PlayerTrade" >
    <id column="trade_id" property="tradeId" jdbcType="INTEGER" />
    <result column="trade_acc_id" property="tradeAccId" jdbcType="INTEGER" />
    <result column="trade_player_id" property="tradePlayerId" jdbcType="VARCHAR" />
    <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="trade_type" property="tradeType" jdbcType="CHAR" />
    <result column="trade_amount_type" property="tradeAmountType" jdbcType="VARCHAR" />
    <result column="trade_desc" property="tradeDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    trade_id, trade_acc_id, trade_player_id, trade_order_id, trade_amount, trade_type, 
    trade_amount_type, trade_desc,DATE_FORMAT(create_time,'%Y-%m-%d %h:%m:%s') create_time, DATE_FORMAT(update_time,'%Y-%m-%d %h:%m:%s') update_time
  </sql>

  <select id="getPlayerTradeById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from player_trade
    where trade_id = #{tradeId,jdbcType=INTEGER}
  </select>

  <select id="getPlayerTrade" resultMap="BaseResultMap" parameterType="com.dream.city.trade.entity.PlayerTrade" >
    select
    <include refid="Base_Column_List" />
    from player_trade
    <where>
      1=1
      <if test="tradeId != null" >
        and trade_id = #{tradeId,jdbcType=INTEGER}
      </if>
      <if test="tradeAccId != null" >
        and trade_acc_id = #{tradeAccId,jdbcType=INTEGER}
      </if>
      <if test="tradeOrderId != null" >
        and trade_order_id = #{tradeOrderId,jdbcType=INTEGER}
      </if>
      <if test="tradeAmount != null" >
        and trade_amount = #{tradeAmount,jdbcType=DECIMAL}
      </if>
      <if test="tradeType != null and tradeType != ''" >
        and trade_type = #{dynType,tradeType=CHAR},
      </if>
      <if test="tradeAmountType != null and tradeAmountType != ''" >
        and trade_amount_type = #{tradeAmountType,jdbcType=VARCHAR}
      </if>
    </where>
    linit 1
  </select>

  <select id="getPlayerTradeList" resultMap="BaseResultMap" parameterType="com.dream.city.trade.entity.PlayerTrade" >
    select
    <include refid="Base_Column_List" />
    from player_trade
    <where>
      1=1
      <if test="tradeId != null" >
        and trade_id = #{tradeId,jdbcType=INTEGER}
      </if>
      <if test="tradeAccId != null" >
        and trade_acc_id = #{tradeAccId,jdbcType=INTEGER}
      </if>
      <if test="tradeOrderId != null" >
        and trade_order_id = #{tradeOrderId,jdbcType=INTEGER}
      </if>
      <if test="tradeAmount != null" >
        and trade_amount = #{tradeAmount,jdbcType=DECIMAL}
      </if>
      <if test="tradeType != null and tradeType != ''" >
        and trade_type = #{dynType,tradeType=CHAR},
      </if>
      <if test="tradeAmountType != null and tradeAmountType != ''" >
        and trade_amount_type = #{tradeAmountType,jdbcType=CHAR}
      </if>
      <if test="tradeDesc != null and tradeDesc != ''" >
        and trade_desc = #{tradeDesc,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by create_time desc
  </select>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="tradeId" parameterType="com.dream.city.trade.entity.PlayerTrade" >
    insert into player_trade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="tradeAccId != null" >
        trade_acc_id,
      </if>
      <if test="tradePlayerId != null" >
        trade_player_id,
      </if>
      <if test="tradeOrderId != null" >
        trade_order_id,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="tradeAmountType != null" >
        trade_amount_type,
      </if>
      <if test="tradeDesc != null" >
        trade_desc,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        #{tradeId,jdbcType=INTEGER},
      </if>
      <if test="tradeAccId != null" >
        #{tradeAccId,jdbcType=INTEGER},
      </if>
      <if test="tradePlayerId != null" >
        #{tradePlayerId,jdbcType=VARCHAR},
      </if>
      <if test="tradeOrderId != null" >
        #{tradeOrderId,jdbcType=INTEGER},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=CHAR},
      </if>
      <if test="tradeAmountType != null" >
        #{tradeAmountType,jdbcType=VARCHAR},
      </if>
      <if test="tradeDesc != null" >
        #{tradeDesc,jdbcType=VARCHAR},
      </if>
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.trade.entity.PlayerTrade" >
    update player_trade
    <set >
      <if test="tradeAccId != null" >
        trade_acc_id = #{tradeAccId,jdbcType=INTEGER},
      </if>
      <if test="tradePlayerId != null" >
        trade_player_id = #{tradePlayerId,jdbcType=VARCHAR},
      </if>
      <if test="tradeOrderId != null" >
        trade_order_id = #{tradeOrderId,jdbcType=INTEGER},
      </if>
      <if test="tradeAmount != null" >
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=CHAR},
      </if>
      <if test="tradeAmountType != null" >
        trade_amount_type = #{tradeAmountType,jdbcType=VARCHAR},
      </if>
      <if test="tradeDesc != null" >
        trade_desc = #{tradeDesc,jdbcType=VARCHAR},
      </if>
      update_time = now(),
    </set>
    where trade_id = #{tradeId,jdbcType=INTEGER}
  </update>


</mapper>