<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.invest.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.invest.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_invest_id" property="orderInvestId" jdbcType="INTEGER" />
    <result column="order_payer_id" property="orderPayerId" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
    <result column="order_repeat" property="orderRepeat" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    order_id, order_invest_id, order_payer_id, order_amount, order_state, order_repeat, create_time,
    update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.dream.city.invest.entity.Order" >
    select 
    <include refid="Base_Column_List" />
    from invest_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>


  <select id="getInvestOrders" resultMap="BaseResultMap" parameterType="com.dream.city.invest.entity.Order" >
    select
    <include refid="Base_Column_List" />
    from invest_order
    <where>
      1=1
      <if test="orderId !=null">
        and  order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="orderInvestId !=null">
        and  order_invest_id = #{orderInvestId,jdbcType=INTEGER}
      </if>
      <if test="orderPayerId !=null and orderPayerId !=''">
        and  order_payer_id = #{orderPayerId,jdbcType=VARCHAR}
      </if>
      <if test="orderState !=null and orderState !=''">
        and  order_state = #{orderState,jdbcType=VARCHAR}
      </if>
      <if test="orderAmount !=null and orderAmount > 0">
        and  order_amount = #{orderAmount,jdbcType=DECIMAL}
      </if>
      <if test="orderRepeat !=null and orderRepeat > 0">
        and  order_state = #{orderRepeat,jdbcType=TINYINT}
      </if>
    </where>
    order by create_time
  </select>


  <select id="countOrdersByPayerIdPropertyId" resultMap="BaseResultMap" parameterType="com.dream.city.invest.entity.Order" >
    SELECT IFNULL(COUNT(order_invest_id),0) FROM invest_order
    WHERE order_state != 'INVALID'
    <if test="orderState !=null and orderState !=''">
      and  order_state in(#{orderState,jdbcType=VARCHAR})
    </if>
    <if test="orderInvestId !=null">
      and  order_invest_id = #{orderInvestId,jdbcType=INTEGER}
    </if>
    <if test="orderPayerId !=null and orderPayerId !=''">
      and  order_payer_id = #{orderPayerId,jdbcType=VARCHAR}
    </if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invest_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="orderId" parameterType="com.dream.city.invest.entity.Order" >
    insert into invest_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderInvestId != null" >
        order_invest_id,
      </if>
      <if test="orderPayerId != null" >
        order_payer_id,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="orderRepeat != null" >
        order_repeat,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderInvestId != null" >
        #{orderInvestId,jdbcType=INTEGER},
      </if>
      <if test="orderPayerId != null" >
        #{orderPayerId,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderRepeat != null" >
        #{orderRepeat,jdbcType=TINYINT},
      </if>
      now()
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.invest.entity.Order" >
    update invest_order
    <set >
      <if test="orderInvestId != null" >
        order_invest_id = #{orderInvestId,jdbcType=INTEGER},
      </if>
      <if test="orderPayerId != null" >
        order_payer_id = #{orderPayerId,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderRepeat != null" >
        order_repeat = #{orderRepeat,jdbcType=TINYINT},
      </if>
      update_time = now()
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>


</mapper>