<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.setting.dao.InvestRuleMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.setting.entity.InvestRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR" />
    <result column="rule_item" property="ruleItem" jdbcType="INTEGER" />
    <result column="rule_rate" property="ruleRate" jdbcType="DOUBLE" />
    <result column="rale_level" property="raleLevel" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    rule_id, rule_name, rule_desc, rule_item, rule_rate, rale_level, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from invest_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invest_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.dream.city.setting.entity.InvestRule" >
    insert into invest_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="ruleDesc != null" >
        rule_desc,
      </if>
      <if test="ruleItem != null" >
        rule_item,
      </if>
      <if test="ruleRate != null" >
        rule_rate,
      </if>
      <if test="raleLevel != null" >
        rale_level,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="ruleItem != null" >
        #{ruleItem,jdbcType=INTEGER},
      </if>
      <if test="ruleRate != null" >
        #{ruleRate,jdbcType=DOUBLE},
      </if>
      <if test="raleLevel != null" >
        #{raleLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.setting.entity.InvestRule" >
    update invest_rule
    <set >
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="ruleItem != null" >
        rule_item = #{ruleItem,jdbcType=INTEGER},
      </if>
      <if test="ruleRate != null" >
        rule_rate = #{ruleRate,jdbcType=DOUBLE},
      </if>
      <if test="raleLevel != null" >
        rale_level = #{raleLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>


</mapper>