<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.account.dao.PlayerAccountMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.account.entity.PlayerAccount" >
    <id column="acc_id" property="accId" jdbcType="INTEGER" />
    <result column="acc_player_id" property="accPlayerId" jdbcType="VARCHAR" />
    <result column="acc_usdt" property="accUsdt" jdbcType="DECIMAL" />
    <result column="acc_usdt_available" property="accUsdtAvailable" jdbcType="DECIMAL" />
    <result column="acc_usdt_freeze" property="accUsdtFreeze" jdbcType="DECIMAL" />
    <result column="acc_mt" property="accMt" jdbcType="DECIMAL" />
    <result column="acc_mt_available" property="accMtAvailable" jdbcType="DECIMAL" />
    <result column="acc_mt_freeze" property="accMtFreeze" jdbcType="DECIMAL" />
    <result column="acc_income" property="accIncome" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    acc_id, acc_player_id, acc_usdt, acc_usdt_available, acc_usdt_freeze, acc_mt, acc_mt_available,
    acc_mt_freeze,acc_income, create_time, update_time
  </sql>


  <select id="getPlayerAccount" resultMap="BaseResultMap"
          parameterType="com.dream.city.account.entity.PlayerAccount" >
    select
    <include refid="Base_Column_List" />
    from player_account
    <where>
      and acc_id not in(#{platformAccIds,jdbcType=VARCHAR})
      <if test="accId != null">
        and acc_id = #{accId,jdbcType=INTEGER}
      </if>
      <if test="accPlayerId != null and accPlayerId != '' ">
        and acc_player_id = #{accPlayerId,jdbcType=VARCHAR}
      </if>
    </where>
    limit 1
  </select>

  <select id="getPlatformAccounts" resultMap="BaseResultMap"
          parameterType="com.dream.city.account.entity.PlayerAccount" >
    select
    <include refid="Base_Column_List" />
    from player_account
    <where>
      and acc_id in(#{platformAccIds,jdbcType=VARCHAR})
      <if test="accPlayerId != null and accPlayerId != '' ">
        and acc_player_id = #{accPlayerId,jdbcType=VARCHAR}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="getPlayerAccountList" resultMap="BaseResultMap"
          parameterType="com.dream.city.account.entity.PlayerAccount" >
    select
    <include refid="Base_Column_List" />
    from player_account
    <where>
      and acc_id not in(#{platformAccIds,jdbcType=VARCHAR})
      <if test="accId != null">
        and acc_id = #{accId,jdbcType=INTEGER}
      </if>
      <if test="accPlayerId != null and accPlayerId != '' ">
        and acc_player_id = #{accPlayerId,jdbcType=VARCHAR}
      </if>
    </where>
    order by create_time desc
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from player_account
    where acc_id = #{accId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.dream.city.account.entity.PlayerAccount" >
    insert into player_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        acc_id,
      </if>
      <if test="accPlayerId != null" >
        acc_player_id,
      </if>
      <if test="accUsdt != null" >
        acc_usdt,
      </if>
      <if test="accUsdtAvailable != null" >
        acc_usdt_available,
      </if>
      <if test="accUsdtFreeze != null" >
        acc_usdt_freeze,
      </if>
      <if test="accMt != null" >
        acc_mt,
      </if>
      <if test="accMtAvailable != null" >
        acc_mt_available,
      </if>
      <if test="accMtFreeze != null" >
        acc_mt_freeze,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        #{accId,jdbcType=INTEGER},
      </if>
      <if test="accPlayerId != null" >
        #{accPlayerId,jdbcType=VARCHAR},
      </if>
      <if test="accUsdt != null" >
        #{accUsdt,jdbcType=DECIMAL},
      </if>
      <if test="accUsdtAvailable != null" >
        #{accUsdtAvailable,jdbcType=DECIMAL},
      </if>
      <if test="accUsdtFreeze != null" >
        #{accUsdtFreeze,jdbcType=DECIMAL},
      </if>
      <if test="accMt != null" >
        #{accMt,jdbcType=DECIMAL},
      </if>
      <if test="accMtAvailable != null" >
        #{accMtAvailable,jdbcType=DECIMAL},
      </if>
      <if test="accMtFreeze != null" >
        #{accMtFreeze,jdbcType=DECIMAL},
      </if>
      now(),
    </trim>
  </insert>

  <update id="updateByPlayerId" parameterType="com.dream.city.account.entity.PlayerAccount" >
    update player_account
    <set >
      <if test="accUsdt != null" >
        acc_usdt = #{accUsdt,jdbcType=DECIMAL},
      </if>
      <if test="accUsdtAvailable != null" >
        acc_usdt_available = #{accUsdtAvailable,jdbcType=DECIMAL},
      </if>
      <if test="accUsdtFreeze != null" >
        acc_usdt_freeze = #{accUsdtFreeze,jdbcType=DECIMAL},
      </if>
      <if test="accMt != null" >
        acc_mt = #{accMt,jdbcType=DECIMAL},
      </if>
      <if test="accMtAvailable != null" >
        acc_mt_available = #{accMtAvailable,jdbcType=DECIMAL},
      </if>
      <if test="accMtFreeze != null" >
        acc_mt_freeze = #{accMtFreeze,jdbcType=DECIMAL},
      </if>
      update_time = now(),
    </set>
    where acc_player_id = #{accPlayerId,jdbcType=VARCHAR}

  </update>


</mapper>