<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.verify.dao.TradeVerifyMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.verify.entity.TradeVerify" >
    <id column="verify_id" property="verifyId" jdbcType="INTEGER" />
    <result column="verify_trade_id" property="verifyTradeId" jdbcType="INTEGER" />
    <result column="verify_order_id" property="verifyOrderId" jdbcType="INTEGER" />
    <result column="verify_emp_id" property="verifyEmpId" jdbcType="INTEGER" />
    <result column="verify_amount" property="verifyAmount" jdbcType="DECIMAL" />
    <result column="verify_status" property="verifyStatus" jdbcType="VARCHAR" />
    <result column="verify_desc" property="verifyDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    verify_id, verify_trade_id,verify_order_id, verify_emp_id, verify_amount, verify_status, verify_desc,
    create_time, update_time
  </sql>

  <select id="getTradeVerifyBiId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trade_verify
    where verify_id = #{verifyId,jdbcType=INTEGER}
  </select>

  <select id="getTradeVerifyList" resultMap="BaseResultMap" parameterType="com.dream.city.verify.entity.TradeVerify" >
    select
    <include refid="Base_Column_List" />
    from trade_verify
    <where>
      1=1
      <if test="verifyId != null">
        and verify_id = #{verifyId,jdbcType=INTEGER}
      </if>
      <if test="verifyStatus != null and verifyStatus != ''">
        and verify_status = #{verifyStatus,jdbcType=INTEGER}
      </if>
      <if test="verifyTradeId != null and verifyTradeId != ''">
        and verify_trade_id = #{verifyTradeId,jdbcType=INTEGER}
      </if>
      <if test="verifyOrderId != null and verifyOrderId != ''">
        and verify_order_id = #{verifyOrderId,jdbcType=INTEGER}
      </if>
    </where>
    order by update_time desc
  </select>

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trade_verify
    where verify_id = #{verifyId,jdbcType=INTEGER}
  </delete>-->


  <insert id="insertSelective" parameterType="com.dream.city.verify.entity.TradeVerify" >
    insert into trade_verify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="verifyId != null" >
        verify_id,
      </if>
      <if test="verifyTradeId != null" >
        verify_trade_id,
      </if>
      <if test="verifyOrderId != null" >
        verify_order_id,
      </if>
      <if test="verifyEmpId != null" >
        verify_emp_id,
      </if>
      <if test="verifyAmount != null" >
        verify_amount,
      </if>
      <if test="verifyStatus != null" >
        verify_status,
      </if>
      <if test="verifyDesc != null" >
        verify_desc,
      </if>
      create_time,
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="verifyId != null" >
        #{verifyId,jdbcType=INTEGER},
      </if>
      <if test="verifyTradeId != null" >
        #{verifyTradeId,jdbcType=INTEGER},
      </if>
      <if test="verifyOrderId != null" >
        #{verifyOrderId,jdbcType=INTEGER},
      </if>
      <if test="verifyEmpId != null" >
        #{verifyEmpId,jdbcType=INTEGER},
      </if>
      <if test="verifyAmount != null" >
        #{verifyAmount,jdbcType=DECIMAL},
      </if>
      <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="verifyDesc != null" >
        #{verifyDesc,jdbcType=VARCHAR},
      </if>
      now(),
      now(),
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.verify.entity.TradeVerify" >
    update trade_verify
    <set >
      <if test="verifyTradeId != null" >
        verify_trade_id = #{verifyTradeId,jdbcType=INTEGER},
      </if>
      <if test="verifyOrderId != null" >
        verify_order_id = #{verifyOrderId,jdbcType=INTEGER},
      </if>
      <if test="verifyEmpId != null" >
        verify_emp_id = #{verifyEmpId,jdbcType=INTEGER},
      </if>
      <if test="verifyAmount != null" >
        verify_amount = #{verifyAmount,jdbcType=DECIMAL},
      </if>
      <if test="verifyStatus != null" >
        verify_status = #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="verifyDesc != null" >
        verify_desc = #{verifyDesc,jdbcType=VARCHAR},
      </if>
      update_time = now()
    </set>
    where verify_id = #{verifyId,jdbcType=INTEGER}
  </update>


</mapper>